body
{
    background-color: #ff9966;
    background-image: url("../images/backgroundemoji.jpg");
    background-repeat: repeat;
    background-size: 100%;
    height: 100%;
}

*
{
    box-sizing:border-box;           /* easier box-model calculations */
    -webkit-box-sizing: border-box;
}

h1, #joke-category
{
    font-family: 'Special Elite', cursive;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-weight: bolder;
}

#forkme
{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

textarea
{
    -moz-box-shadow: 0 0 8px #239CF5;
    -webkit-box-shadow: 0 0 8px #239CF5;
    box-shadow: 0 0 8px #239CF5;
    resize: none;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    background-image: url("../images/laugh.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
    position: relative;
}

input[type="text"], textarea
{
    background-color: whitesmoke;
    color: #111720;
}

.button
{
    font-family: 'Special Elite', cursive;
    -moz-box-shadow: 0 0 8px #239CF5;
    -webkit-box-shadow: 0 0 8px #239CF5;
    box-shadow: 0 0 8px #239CF5;
    background-color: #111720;
    border: none;
    color: white;
    width: 300px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

#joke-number
{
    font-family: 'Special Elite', cursive;
    color: whitesmoke;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    position: sticky;
}

#button-wrapper
{
    text-align: center;
    margin: auto;
}

::selection
{
    background: #F85051; /* WebKit/Blink Browsers */
}

::-moz-selection
{
    background: #F85051; /* Gecko Browsers */
}